<template>
  <div>
    <sv-page-header content="Quản lý bài viết"></sv-page-header>
    <div class="mt-4">
      <el-card>
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="Tất cả bài viết" name="first">
            Tất cả bài viết
          </el-tab-pane>
          <el-tab-pane label="Bài đã lưu (nháp)" name="second">
            Bài đã lưu (nháp)
          </el-tab-pane>
          <el-tab-pane label="Bài đang chờ duyệt" name="third">
            Bài đang chờ duyệt
          </el-tab-pane>
          <el-tab-pane label="Bài bị từ chối" name="fourth">
            Bài bị từ chối
          </el-tab-pane>
        </el-tabs>
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PostManagement',
  data() {
    return {
      activeName: 'first'
    }
  },
  methods: {
    handleClick(tab, event) {}
  }
}
</script>

<style scoped></style>
