<template>
  <el-card>
    <div slot="header">Search</div>
    <el-select
      v-model="header"
      :loading="loading"
      :remote-method="remoteMethod"
      filterable
      remote
      reserve-keyword
      value-key="id"
      placeholder="Tìm folder"
    >
      <el-option
        v-for="item in options"
        :key="item.id"
        :label="item.name"
        :value="item"
      ></el-option>
    </el-select>
  </el-card>
</template>

<script>
export default {
  name: 'CardSearchHeader',
  props: ['value'],
  data() {
    return {
      loading: false,
      options: []
    }
  },
  computed: {
    header: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    async remoteMethod(query) {
      if (!query) {
        this.options = []
        return
      }
      try {
        this.loading = true
        const { data } = await this.$store.dispatch('header/searchHeader', {
          name: query
        })
        this.options = data
      } catch (e) {
        this.$error(e)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped></style>
