<template>
  <el-card>
    <div slot="header">{{ title }}</div>
    <div>
      <div
        v-for="item in items"
        :key="item.id"
        @click="selectHeader(item)"
        class="px-4 py-2 hover:bg-gray cursor-pointer"
      >
        {{ item.name }}
      </div>
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'CardHeader',
  props: {
    title: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    selectHeader(item) {
      this.$emit('input', item)
    }
  }
}
</script>

<style scoped></style>
