<template>
  <div class="pb-16">
    <div class="flex justify-between items-center">
      <sv-page-header content="Tạo bài viết"></sv-page-header>
    </div>
    <div class="flex space-x-4 mt-4">
      <div class="w-3/4">
        <el-card>
          <div slot="header">
            <div class="mb-4">Editor</div>
            <div>
              <el-form ref="form" label-width="120px">
                <FormTitle v-model="model.title" />
                <FormDescription v-model="model.description" />
                <el-form-item label="Upload cover">
                  <FormCover ref="cover" />
                </el-form-item>
              </el-form>
            </div>
          </div>
          <vue-editor v-model="model.content"></vue-editor>
        </el-card>
      </div>
      <div class="w-1/4 space-y-4">
        <FormSetOn v-model="model.set_on_id" :list-on="model.list_on_ids" />
        <FormListOn v-model="model.list_on_ids" :set-on="model.set_on_id" />
        <FormPriority v-model="model.priority" />
        <FormBuild />
        <FormTags v-model="model.tags" />
        <FormKeywords v-model="model.keywords" />
        <FormTimer
          v-if="$isPermission('posts.publish')"
          v-model="model.published_at"
        />
        <el-card>
          <el-button size="medium" @click="onSaveDraft">
            Lưu nháp
          </el-button>
          <el-button
            v-if="$isPermission('posts.publish')"
            type="primary"
            size="medium"
            @click="onSavePublish"
          >
            Publish
          </el-button>
          <el-button
            v-else
            type="primary"
            size="medium"
            @click="onSaveApproved"
          >
            Gửi duyệt
          </el-button>
        </el-card>
      </div>
    </div>
  </div>
</template>

<script>
import VueEditor from '@vt7/vue-editor'
import FormTitle from '~/components/pages/post/FormTitle'
import FormDescription from '~/components/pages/post/FormDescription'
import FormCover from '~/components/pages/post/FormCover'
import FormSetOn from '~/components/pages/post/FormSetOn'
import FormListOn from '~/components/pages/post/FormListOn'
import FormPriority from '~/components/pages/post/FormPriority'
import FormTimer from '~/components/pages/post/FormTimer'
import FormBuild from '~/components/pages/post/FormBuild'
import FormTags from '~/components/pages/post/FormTags'
import FormKeywords from '~/components/pages/post/FormKeywords'

export default {
  name: 'PostCreate',
  components: {
    VueEditor,
    FormTitle,
    FormDescription,
    FormCover,
    FormSetOn,
    FormListOn,
    FormPriority,
    FormTimer,
    FormBuild,
    FormTags,
    FormKeywords
  },
  async asyncData({ store, error }) {
    try {
      await store.dispatch('post/getFolders')
    } catch (e) {
      error(e)
    }
  },
  data() {
    return {
      folders: [],
      model: {}
    }
  },
  created() {
    this.setModelDefault()
  },
  methods: {
    setModelDefault() {
      this.model = modelDefault
    },
    async onSaveDraft() {
      this.model.action = POST_ACTION.DRAFT
      await this.onSave(this.model)
    },
    async onSaveApproved() {
      this.model.action = POST_ACTION.APPROVED
      await this.onSave(this.model)
    },
    async onSavePublish() {
      this.model.action = POST_ACTION.PUBLISH
      await this.onSave(this.model)
    },
    async onSave(model) {
      try {
        const formData = await this.getFormData(model)
        await this.$store.dispatch('post/addPost', formData)

        this.$success('Tạo bài viết thành công')
        // format data
        this.setModelDefault()
      } catch (e) {
        this.$error(e.message)
      }
    },
    async getFormData(model) {
      const formData = new FormData()
      const images = await this.$refs.cover.getBlob()
      Object.entries(model).forEach(([key, value]) => {
        if (Array.isArray(value)) {
          value.forEach(_value => {
            formData.append(key + '[]', _value)
          })
        } else if (typeof value === 'object' && !(value instanceof Array)) {
          formData.append(key, JSON.stringify(value))
        } else {
          formData.append(key, value)
        }
      })
      images.forEach(image => {
        formData.append('images[]', image)
      })
      return formData
    }
  }
}
const POST_ACTION = {
  DRAFT: 0,
  APPROVED: 1,
  PUBLISH: 2
}
const modelDefault = {
  title: '',
  description: '',
  content: {},
  set_on_id: '',
  list_on_ids: [],
  priority: 1,
  published_at: '',
  keywords: [],
  is_sponsored: 0,
  action: 0,
  tags: []
}
</script>

<style scoped></style>
