<template>
  <el-header
    :style="{ left: isCollapse ? '64px' : '240px' }"
    class="the-header"
    height="56px"
  >
    <div class="h-full block flex justify-between items-center">
      <input-search></input-search>
      <div class="flex justify-between items-center space-x-4">
        <header-notification></header-notification>
        <el-divider direction="vertical"></el-divider>
        <span class="text-white">{{ username }}</span>
        <el-avatar :src="avatar" size="medium"></el-avatar>
      </div>
    </div>
  </el-header>
</template>

<script>
import { mapGetters } from 'vuex'
import InputSearch from '~/components/layout/the-header/InputSearch'
import HeaderNotification from '~/components/layout/the-header/HeaderNotification'

export default {
  components: {
    InputSearch,
    HeaderNotification
  },
  computed: {
    ...mapGetters({
      isCollapse: 'isCollapse'
    }),
    currentUser() {
      return this.$auth.user || {}
    },
    username() {
      return this.currentUser.name || ''
    },
    avatar() {
      return this.currentUser.avatar || ''
    }
  }
}
</script>

<style>
.the-header {
  height: 56px;
  transition: all 0.3s;
  @apply z-50 fixed right-0 bg-dark-blue;
}
.notification-badge .el-badge__content {
  top: 4px;
  right: 12px;
  border-radius: 50%;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  border: none;
}
</style>
