<template>
  <el-aside :width="isCollapse ? '64px' : '240px'" class="el-side-bar">
    <the-logo></the-logo>
    <the-menu></the-menu>
    <el-button
      class="btn-collapse"
      type="info"
      size="mini"
      :icon="isCollapse ? 'el-icon-d-arrow-right' : 'el-icon-d-arrow-left'"
      circle
      @click="changeIsCollapse"
    ></el-button>
  </el-aside>
</template>

<script>
import { mapGetters } from 'vuex'

import TheLogo from '~/components/layout/the-side-bar/TheLogo'
import TheMenu from '~/components/layout/the-side-bar/TheMenu'

export default {
  components: {
    TheLogo,
    TheMenu
  },
  computed: {
    ...mapGetters({
      isCollapse: 'isCollapse'
    })
  },
  methods: {
    changeIsCollapse() {
      this.$store.commit('SET_IS_COLLAPSE', !this.isCollapse)
    }
  }
}
</script>

<style>
.el-side-bar {
  @apply fixed;
  overflow: inherit;
}
.el-menu-vertical {
  border-right: 1px solid #dfe3e8;
}
.logo {
  @apply w-full bg-dark-blue cursor-pointer;
  height: 56px;
  transition: all 0.3s;
}
.btn-collapse {
  @apply z-50 absolute bottom-0;
  right: -10px;
}
</style>
