$--color-primary: #27CEBE !default;
$--color-success: #19BE6B !default;
$--color-warning: #FF9900 !default;
$--color-danger: #F5222D !default;
$--color-info: #000F2E !default;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index.scss";

@include b(main) {
  background-color: #F7F9FB;
  color: #000;
}
@include b(menu) {
  border-right: 0;
  background: #F7F9FB;
}
@include b(menu-vertical) {
  overflow: auto;
  height: calc(100vh - 56px);
  padding-bottom: 40px;
}
.el-menu {
  font-weight: 500;
  font-size: 14px;
  color: #080D1B;

  .el-menu-item {
    height: 48px;
    line-height: 48px;

    &.is-active {
      background: rgba(#27CEBE, 0.06) !important;
    }
    &:hover {
      background: rgba(#27CEBE, 0.04) !important;
    }
  }
}
.el-submenu__title:hover {
  background: rgba(#27CEBE, 0.04) !important;
}
@include b(aside) {
  transition: all .3s;
  color: #333;
}
.el-menu-vertical:not(.el-menu--collapse) {
  width: 240px;
}
.el-input, .el-select {
  width: 100%;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  display: block;
}

::-webkit-scrollbar-thumb {
  background: rgba(144, 147, 153, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(144, 147, 153, 0.4);
}

