<template>
  <el-button
    :icon="icon"
    type="primary"
    circle
    size="mini"
    :class="{ 'rotate-45': visible }"
    class="btn-fixed"
    @click="$emit('click')"
  ></el-button>
</template>

<script>
export default {
  name: 'SvButtonFixed',
  props: {
    icon: {
      type: String,
      default: 'el-icon-plus'
    },
    visible: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>
.btn-fixed {
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: transform 0.3s;
}
</style>
