<template>
  <el-page-header
    :content="content"
    title="Trang chủ"
    class="mb-4"
    @back="goBack"
  ></el-page-header>
</template>

<script>
export default {
  name: 'SvPageHeader',
  props: {
    content: {
      type: String,
      default: ''
    }
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'index' })
    }
  }
}
</script>

<style scoped></style>
