.table {
  @apply inline-block min-w-full shadow rounded-lg overflow-hidden
}
.table > table {
  @apply min-w-full leading-normal
}
.table thead > tr > th {
  @apply px-5 py-3 border-b-2 border-gray-200 bg-gray-200 text-left text-xs font-semibold uppercase tracking-wider
}
.table tbody > tr > td {
  @apply px-5 py-5 border-b border-gray-200 text-sm
}
.table tbody > tr > td > p {
  @apply whitespace-no-wrap text-gray-900
}
.table.table-hover tbody > tr:hover {
  @apply bg-gray
}
