<template>
  <div class="poster--root">
    <div class="poster--wrapper">
      <div class="poster--info">
        <div class="poster--info-main">{{ image.name }}</div>
        <div class="poster--info-sub">{{ image.size }}</div>
      </div>
      <div class="poster--action">
        <button
          class="filepond--file-action-button filepond--action-remove-item"
          type="button"
          @click="onRemove"
        >
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path :d="btnRemove" fill="currentColor" fill-rule="nonzero"></path>
          </svg>
        </button>
        <button
          v-if="!image.url"
          class="filepond--file-action-button filepond--action-revert-item-processing"
          type="button"
          @click="onReload"
        >
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path :d="btnReload" fill="currentColor" fill-rule="nonzero"></path>
          </svg>
        </button>
      </div>
      <div class="poster--preview">
        <div
          class="filepond--image-preview-overlay filepond--image-preview-overlay-idle"
          style="opacity: 1;"
        >
          <svg
            v-if="image.url"
            width="500"
            height="200"
            viewBox="0 0 500 200"
            preserveAspectRatio="none"
            style="border-radius: 6px"
          >
            <defs>
              <radialGradient id="gradient-4" cx=".5" cy="1.25" r="1.15">
                <stop offset="50%" stop-color="#000000"></stop>
                <stop offset="56%" stop-color="#0a0a0a"></stop>
                <stop offset="63%" stop-color="#262626"></stop>
                <stop offset="69%" stop-color="#4f4f4f"></stop>
                <stop offset="75%" stop-color="#808080"></stop>
                <stop offset="81%" stop-color="#b1b1b1"></stop>
                <stop offset="88%" stop-color="#dadada"></stop>
                <stop offset="94%" stop-color="#f6f6f6"></stop>
                <stop offset="100%" stop-color="#ffffff"></stop>
              </radialGradient>
              <mask id="mask-4">
                <rect
                  x="0"
                  y="0"
                  width="500"
                  height="200"
                  fill="url(#gradient-4)"
                ></rect>
              </mask>
            </defs>
            <rect
              x="0"
              width="500"
              height="200"
              fill="currentColor"
              mask="url(#mask-4)"
            ></rect>
          </svg>
        </div>
        <transition name="el-fade-in-linear">
          <img v-if="image.url" :src="image.url" />
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
const btnRemove =
  'M11.586 13l-2.293 2.293a1 1 0 0 0 1.414 1.414L13 14.414l2.293 2.293a1 1 0 0 0 1.414-1.414' +
  'L14.414 13l2.293-2.293a1 1 0 0 0-1.414-1.414L13 11.586l-2.293-2.293a1 1 0 0 0-1.414 1.414L11.586 13z'
const btnReload =
  'M9.185 10.81l.02-.038A4.997 4.997 0 0 1 13.683 8a5 5 0 0 1 5 5 5 5 0 0 1-5 5 1 1 0 0 0 0 2' +
  'A7 7 0 1 0 7.496 9.722l-.21-.842a.999.999 0 1 0-1.94.484l.806 3.23c.133.535.675.86 1.21.73l3.233-.803a.997.997' +
  ' 0 0 0 .73-1.21.997.997 0 0 0-1.21-.73l-.928.23-.002-.001z'
export default {
  name: 'FilePondPoster',
  props: {
    src: String
  },
  data() {
    return {
      image: {
        url: null,
        size: '',
        name: ''
      }
    }
  },
  computed: {
    storageDomain() {
      return 'http://localhost:3000'
    },
    btnRemove() {
      return btnRemove
    },
    btnReload() {
      return btnReload
    }
  },
  watch: {
    storageDomain: {
      handler: 'handleWatchStorageDomain',
      immediate: true
    }
  },
  methods: {
    handleWatchStorageDomain(val) {
      if (!val) return
      this.init()
    },
    async init() {
      const data = await fetch(this.storageDomain + this.src)
      if (data.ok) {
        const blob = await data.blob()
        this.image = {
          size: this.getSize(blob.size),
          url: URL.createObjectURL(blob),
          name: this.src
        }
      } else {
        this.image = {
          size: '0 kb',
          url: null,
          name: data.statusText
        }
      }
    },
    getSize(size) {
      const kb = size / 1024
      if (kb < 1) {
        return kb.toFixed(2) + ' kb'
      } else if (kb >= 1 && kb < 1000) {
        return Math.ceil(kb) + ' kb'
      } else {
        const mb = kb / 1024
        return mb.toFixed(1) + ' Mb'
      }
    },
    onRemove() {
      this.$emit('on-remove')
    },
    onReload() {
      this.init()
    }
  }
}
</script>

<style scoped lang="scss">
.poster--root {
  border-radius: 6px;
  padding: 15px;
  color: #ffffff;
  background: #f1f0ef;
}
.poster--wrapper {
  background: #222222;
  border-radius: 6px;
  position: relative;
  display: flex;
  min-height: 50px;
  transition: all 3.5s;
}
.poster--action {
  z-index: 10;
  .filepond--file-action-button {
    position: absolute;
    top: 6px;
  }
  .filepond--action-remove-item {
    left: 8px;
  }
  .filepond--action-revert-item-processing {
    right: 10px;
  }
}
.poster--info {
  position: absolute;
  top: 2px;
  left: 40px;
  z-index: 10;
  .poster--info-main {
    font-size: 11px;
  }
  .poster--info-sub {
    font-size: 10px;
    opacity: 0.5;
  }
}
.poster--preview {
  margin: 0 auto;
  border-radius: 6px;
}
</style>
