<template>
  <div>
    <transition name="el-fade-in-linear" mode="out-in">
      <FilePondPoster
        v-if="active"
        key="poster"
        :src="value"
        @on-remove="active = false"
      />
      <FilePond
        v-else
        ref="pond"
        key="pond"
        :allow-multiple="false"
        :instant-upload="false"
        :server="server"
        :file-rename-function="handleRenameFile"
        accepted-file-types="image/jpeg, image/png"
        name="files"
        @init="handleFilePondInit"
        @addfile="addfile"
        @removefile="removefile"
      />
    </transition>
    <SlimImageCropper
      :key="key"
      :source="source"
      @on-cancel="onCancel"
      @on-confirm="onConfirm"
    />
  </div>
</template>

<script>
/*
  max-file-size="200KB"
  image-crop-aspect-ratio="1:1"
 */
import VueFilePond from 'vue-filepond'
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
import FilePondPluginImagePreview from 'filepond-plugin-image-preview'
import FilePondPluginFileRename from 'filepond-plugin-file-rename'
import SlimImageCropper from './SlimImageCropper'
import FilePondPoster from './FilePondPoster'

import 'filepond/dist/filepond.min.css'
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'

const FilePond = VueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginImagePreview,
  FilePondPluginFileRename
)
const BASE_URL = process.env.BASE_URL
const SECRET_KEY = process.env.SECRET_KEY

export default {
  name: 'UploadSlim',
  components: {
    FilePond,
    FilePondPoster,
    SlimImageCropper
  },
  props: {
    value: String,
    ratio: {
      type: String,
      default: () => {
        return '16:9'
      }
    },
    size: {
      type: Object,
      default: () => {
        return {
          width: 320,
          height: 180
        }
      }
    }
  },
  provide() {
    return {
      ratio: this.ratio,
      size: this.size
    }
  },
  data() {
    return {
      source: null,
      key: 0,
      filename: '',
      active: false
    }
  },
  computed: {
    token() {
      return this.$store.state.user.token
    },
    server() {
      return {
        url: BASE_URL,
        process: {
          url: '/upload',
          method: 'POST',
          withCredentials: false,
          headers: {
            token: this.token,
            secret_key: SECRET_KEY
          },
          timeout: 7000,
          onload: response => {
            const { data, message } = JSON.parse(response)
            if (data) {
              this.$emit('input', data[0])
            } else {
              this.$error(message)
            }
          },
          onerror: response => {
            const { message } = JSON.parse(response)
            this.$error(message)
          },
          ondata: null
        }
      }
    }
  },
  created() {
    if (this.value) {
      this.active = true
    }
  },
  methods: {
    handleFilePondInit() {},
    handleRenameFile() {
      const { pond } = this.$refs
      const { filename } = pond.getFile()
      return this.filename || filename
    },
    addfile(error, data) {
      if (error) return
      const { id, file, filename, source } = data
      if (typeof source === 'string') return
      this.source = { id, file }
      this.filename = filename
    },
    removefile() {
      this.filename = ''
    },
    onCancel() {
      const { pond } = this.$refs
      pond.removeFiles()
      this.incrementKey()
      this.filename = ''
    },
    async onConfirm(base64) {
      const { pond } = this.$refs
      pond.removeFiles()
      await pond.addFile(base64)
      this.incrementKey()
    },
    incrementKey() {
      ++this.key
    }
  }
}
</script>

<style scoped></style>
