<template>
  <div ref="slim" v-show="false" class="slim"></div>
</template>

<script>
export default {
  name: 'SlimImageCropper',
  props: {
    source: Object
  },
  inject: ['ratio', 'size'],
  data() {
    return {
      slim: null,
      options: {
        ratio: this.ratio,
        rotation: 90,
        size: this.size,
        minSize: {
          width: 100,
          height: 100
        },
        label: 'Drop your image here.',
        defaultInputName: 'files',
        instantEdit: true,
        saveInitialImage: true,
        didConfirm: this.onConfirm,
        didCancel: this.onCancel
      }
    }
  },
  watch: {
    source: {
      handler: 'handleWatchSource',
      deep: true
    }
  },
  methods: {
    init() {
      const { slim } = this.$refs
      const { file } = this.source
      this.slim = new window.Slim(slim, this.options)
      this.slim.load(file)
    },
    onConfirm() {
      const { dataBase64 } = this.slim
      const { image } = dataBase64.output
      this.$emit('on-confirm', image)
    },
    onCancel() {
      this.$emit('on-cancel')
    },
    handleWatchSource() {
      this.init()
    }
  }
}
</script>

<style scoped>
.slim {
  border-radius: 0.5rem;
  width: 300px;
  height: 200px;
}
</style>
