<template>
  <div class="h-screen login bg-dark-blue">
    <el-card class="my-auto">
      <div class="w-full mt-2 mb-8">
        <img class="mx-auto" src="~assets/images/logo.png" alt="" />
        <h2 class="text-center text-2xl font-bold">Login</h2>
      </div>
      <el-form
        ref="form"
        class="login-form"
        :model="model"
        :rules="rules"
        @submit.native.prevent="login"
      >
        <el-form-item prop="email">
          <el-input
            v-model="model.email"
            placeholder="Email"
            prefix-icon="el-icon-user"
          ></el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            v-model="model.password"
            placeholder="Password"
            type="password"
            prefix-icon="el-icon-key"
            show-password
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            :loading="loading"
            class="login-button"
            type="primary"
            native-type="submit"
            block
          >
            Login
          </el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'Login',
  layout: 'empty',
  data() {
    return {
      model: {
        email: 'admin@thinkview.vn',
        password: 'admin'
      },
      loading: false,
      rules: {
        email: [
          {
            required: true,
            message: 'Email là bắt buộc',
            trigger: ['blur', 'change']
          }
        ],
        password: [
          {
            required: true,
            message: 'Mật khẩu là bắt buộc',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },
  methods: {
    async login() {
      const valid = await this.$refs.form.validate()
      if (!valid) return
      try {
        this.loading = true
        await this.$auth.loginWith('local', { data: this.model })
      } catch (e) {
        this.$error(e.message)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>
.login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 100%;
}
.login-form {
  width: 290px;
}
</style>
