<template>
  <el-tooltip
    v-if="$isPermission('roles.delete')"
    content="Xóa vai trò"
    placement="top"
  >
    <el-button
      icon="el-icon-close"
      size="mini"
      type="danger"
      circle
      @click="onDeleteRole"
    ></el-button>
  </el-tooltip>
</template>

<script>
export default {
  name: 'ButtonDelete',
  props: {
    role: {
      type: Object,
      required: true
    }
  },
  methods: {
    async onDeleteRole() {
      try {
        await this.confirmDeleteRole()
        await this.$store.dispatch('roles/deleteRole', this.role)
        this.$success('Xóa vai trò thành công')
        this.$emit('fetch')
      } catch (e) {
        if (e === 'cancel') return
        const message = e.message || 'Có 1 lỗi khi xóa vai trò'
        this.$error(message)
      }
    },
    async confirmDeleteRole() {
      return await this.$confirm(
        'Bạn có chắc chắn xóa vai trò? Nếu xóa bạn sẽ không thể lấy lại được dữ liệu !!!',
        'Warning'
      )
    }
  }
}
</script>

<style scoped></style>
