<template>
  <div>
    <el-tooltip
      v-if="$isPermission('roles.edit')"
      content="Sửa vai trò"
      placement="top"
    >
      <el-button
        icon="el-icon-edit"
        size="mini"
        type="success"
        circle
        @click="visible = true"
      ></el-button>
    </el-tooltip>
    <el-dialog
      :visible.sync="visible"
      title="Sửa vai trò"
      append-to-body
      width="50%"
    >
      <el-form
        ref="form"
        :model="model"
        label-position="left"
        label-width="200px"
        @submit.native.prevent="onEditRole"
      >
        <form-item-name v-model="model.name"></form-item-name>
        <form-item-permission
          v-model="model.permissions"
        ></form-item-permission>
        <el-form-item>
          <el-button :loading="loading" type="primary" native-type="submit">
            Submit
          </el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import cloneDeep from 'lodash/cloneDeep'
import FormItemName from '~/components/pages/roles/FormItemName'
import FormItemPermission from '~/components/pages/roles/FormItemPermission'

export default {
  name: 'ButtonEdit',
  components: {
    FormItemName,
    FormItemPermission
  },
  props: {
    role: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      visible: false,
      loading: false,
      model: {}
    }
  },
  mounted() {
    this.model = cloneDeep(this.role)
  },
  methods: {
    openDialog() {
      this.visible = true
    },
    async onEditRole() {
      const validate = await this.$refs.form.validate()
      if (!validate) return
      try {
        this.loading = true
        await this.$store.dispatch('roles/editRole', this.model)
        this.$success('Sửa vai trò thành công')
        this.$emit('fetch')
        this.visible = false
      } catch (e) {
        const message = e.message || 'Có 1 lỗi khi sửa vai trò'
        this.$error(message)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped></style>
