<template>
  <div v-if="$isPermission('roles.add')">
    <el-tooltip content="Thêm vai trò" placement="top">
      <sv-button-fixed @click="openDialog" :visible="visible"></sv-button-fixed>
    </el-tooltip>
    <el-dialog
      :visible.sync="visible"
      title="Tạo vai trò"
      append-to-body
      width="50%"
      @close="formatDefault"
    >
      <el-form
        ref="form"
        :model="model"
        label-position="left"
        label-width="200px"
        @submit.native.prevent="onCreateRole"
      >
        <form-item-name v-model="model.name"></form-item-name>
        <form-item-permission
          v-model="model.permissions"
        ></form-item-permission>
        <el-form-item>
          <el-button :loading="loading" type="primary" native-type="submit">
            Submit
          </el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import FormItemName from '~/components/pages/roles/FormItemName'
import FormItemPermission from '~/components/pages/roles/FormItemPermission'
export default {
  name: 'ButtonCreate',
  components: {
    FormItemName,
    FormItemPermission
  },
  data() {
    return {
      visible: false,
      loading: false,
      model: {
        name: '',
        permissions: []
      }
    }
  },
  methods: {
    openDialog() {
      this.visible = true
    },
    async onCreateRole() {
      const validate = await this.$refs.form.validate()
      if (!validate) return
      try {
        this.loading = true
        await this.$store.dispatch('roles/addRole', this.model)
        this.$success('Tạo vai trò thành công')
        this.$emit('fetch')
        this.visible = false
      } catch (e) {
        const message = e.message || 'Có 1 lỗi khi tạo vai trò'
        this.$error(message)
      } finally {
        this.loading = false
      }
    },
    formatDefault() {
      this.model = {
        name: '',
        permissions: []
      }
      this.$refs.form.resetFields()
    }
  }
}
</script>

<style scoped></style>
