<template>
  <el-form-item label="Quyền" prop="permissions">
    <el-select
      v-model="permissions"
      multiple
      filterable
      allow-create
      default-first-option
      placeholder="Nhập quyền"
    >
      <el-option
        v-for="(item, key) in options"
        :key="'permission' + key"
        :label="item.name"
        :value="item.key"
      >
        <span class="float-left">{{ item.key }}</span>
        <span class="float-right text-gray-100 text-sm">
          {{ item.name }}
        </span>
      </el-option>
    </el-select>
  </el-form-item>
</template>

<script>
import listPermission from '~/config/permissions'

export default {
  name: 'FormItemPermission',
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    permissions: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    },
    options() {
      const permissions = []
      Object.entries(listPermission).forEach(([key, value]) => {
        Object.entries(value.permission).forEach(
          ([permissionKey, permissionName]) => {
            permissions.push({
              key: `${key}.${permissionKey}`,
              name: permissionName
            })
          }
        )
      })
      return permissions
    }
  }
}
</script>

<style scoped></style>
