<template>
  <div>
    <el-tag
      v-for="(permission, key) in role.permissions"
      :key="'permission' + key"
      class="mx-2 mt-2"
      :closable="$isPermission('roles.delete')"
      @close="onDeletePermission(key)"
    >
      {{ permission }}
    </el-tag>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'
export default {
  name: 'FormPermission',
  props: {
    role: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      visible: false,
      model: {
        permission: ''
      }
    }
  },
  methods: {
    async onDeletePermission(index) {
      const body = cloneDeep(this.role)
      body.permissions.splice(index, 1)
      try {
        await this.onEditPermission(body)
        this.$success('Xóa quyền thành công')
      } catch {
        this.$error('Có 1 lỗi khi xóa quyền')
      }
    },
    async onEditPermission(body) {
      try {
        await this.$store.dispatch('roles/editRole', body)
        this.$emit('fetch')
      } catch (e) {
        throw new Error('Lỗi chỉnh sửa quyền')
      }
    }
  }
}
</script>

<style scoped>
.input-permission {
  width: 10rem !important;
}
</style>
