<template>
  <el-form-item label="Tên vai trò" prop="name" :rules="rules.name">
    <el-input v-model="name" type="text"></el-input>
  </el-form-item>
</template>

<script>
export default {
  name: 'FormItemName',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      rules: {
        name: [
          {
            required: true,
            message: 'Tên vai trò là bắt buộc',
            trigger: ['change', 'blur']
          }
        ]
      }
    }
  },
  computed: {
    name: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
