<template>
  <div class="logo pt-4 pl-4">
    <nuxt-link to="/" tag="div">
      <img
        v-if="isCollapse"
        src="~/assets/images/logo.png"
        style="width: 24px; height: auto"
      />
      <img v-else src="~/assets/images/logo-full.png" />
    </nuxt-link>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'TheLogo',
  computed: {
    ...mapGetters({
      isCollapse: 'isCollapse'
    })
  }
}
</script>

<style scoped></style>
