<template>
  <el-menu
    :collapse="isCollapse"
    :router="true"
    :default-active="defaultActive"
    class="el-menu-vertical"
    text-color="#080D1Bs"
  >
    <el-menu-item index="index" :route="{ name: 'index' }">
      <i class="el-icon-data-analysis"></i>
      <span slot="title">Trang chủ</span>
    </el-menu-item>

    <el-submenu index="build">
      <template slot="title">
        <i class="el-icon-printer"></i>
        <span slot="title">Build trang</span>
      </template>
      <el-menu-item
        index="build-top-story"
        :route="{ name: 'build-top-story' }"
      >
        Top story
      </el-menu-item>
      <el-menu-item
        index="build-remarkable"
        :route="{ name: 'build-remarkable' }"
      >
        Đáng chú ý
      </el-menu-item>
      <el-menu-item index="build-trending" :route="{ name: 'build-trending' }">
        Trending
      </el-menu-item>
      <el-menu-item index="build" :route="{ name: 'build' }">
        Danh sách chuyên mục
      </el-menu-item>
      <el-menu-item
        index="build-header-background"
        :route="{ name: 'build-header-background' }"
      >
        Header background
      </el-menu-item>
    </el-submenu>

    <el-menu-item index="post-create" :route="{ name: 'post-create' }">
      <i class="el-icon-document"></i>
      <span slot="title">Tạo bài viết</span>
    </el-menu-item>

    <el-submenu index="post-management">
      <template slot="title">
        <i class="el-icon-printer"></i>
        <span slot="title">Quản lý bài viết</span>
      </template>
      <el-menu-item
        index="post-management"
        :route="{ name: 'post-management' }"
      >
        Tất cả bài viết
      </el-menu-item>
      <el-menu-item
        index="post-management-post-pending"
        :route="{ name: 'post-management-post-pending' }"
      >
        Bài viết chờ duyệt
      </el-menu-item>
      <el-menu-item
        index="post-management-edit-pending"
        :route="{ name: 'post-management-edit-pending' }"
      >
        Chỉnh sửa chờ duyệt
      </el-menu-item>
    </el-submenu>

    <el-submenu index="members">
      <template slot="title">
        <i class="el-icon-user"></i>
        <span slot="title">Users</span>
      </template>
      <el-menu-item
        index="members-comment"
        :route="{ name: 'members-comment' }"
      >
        Bình luận
      </el-menu-item>
      <el-menu-item
        index="members-notification"
        :route="{ name: 'members-notification' }"
      >
        Gửi thông báo
      </el-menu-item>
      <el-menu-item index="members-block" :route="{ name: 'members-block' }">
        Ban members
      </el-menu-item>
    </el-submenu>

    <el-submenu index="advertising">
      <template slot="title">
        <i class="el-icon-share"></i>
        <span slot="title">Quảng cáo</span>
      </template>
      <el-menu-item
        index="advertising-tbd"
        :route="{ name: 'advertising-tbd' }"
      >
        TBD
      </el-menu-item>
    </el-submenu>

    <el-submenu index="account-management">
      <template slot="title">
        <i class="el-icon-office-building"></i>
        <span slot="title">Quản lý nội bộ</span>
      </template>
      <el-menu-item
        v-if="$isPermission('users.list')"
        index="account-management-users"
        :route="{ name: 'account-management-users' }"
      >
        Users
      </el-menu-item>
      <el-menu-item
        v-if="$isPermission('roles.list')"
        index="account-management-roles"
        :route="{ name: 'account-management-roles' }"
      >
        Roles
      </el-menu-item>
    </el-submenu>

    <el-submenu index="setting">
      <template slot="title">
        <i class="el-icon-setting"></i>
        <span slot="title">Cài đặt</span>
      </template>
      <el-menu-item
        index="setting-change-password"
        :route="{ name: 'setting-change-password' }"
      >
        Đổi mật khẩu
      </el-menu-item>
      <el-menu-item @click="onLogout">
        Đăng xuất
      </el-menu-item>
    </el-submenu>
  </el-menu>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'TheMenu',
  data() {
    return {
      defaultActive: ''
    }
  },
  computed: {
    ...mapGetters({
      isCollapse: 'isCollapse'
    })
  },
  mounted() {
    this.defaultActive = this.$route.name
  },
  methods: {
    async onLogout() {
      try {
        await this.$auth.logout()
      } catch (e) {
        this.$notify.error('Error')
      }
    }
  }
}
</script>

<style scoped></style>
