<template>
  <div>
    <sv-page-header content="Đổi mật khẩu"></sv-page-header>
    <div class="flex">
      <el-card class="w-full">
        <el-form
          ref="form"
          :model="model"
          :rules="rules"
          label-position="left"
          label-width="200px"
          @submit.native.prevent="onChangePassword"
        >
          <el-form-item label="Mật khẩu hiện tại" prop="old_password">
            <el-input
              v-model="model.old_password"
              type="password"
              show-password
            ></el-input>
          </el-form-item>
          <el-form-item label="Mật khẩu mới" prop="new_password">
            <el-input
              v-model="model.new_password"
              type="password"
              show-password
            ></el-input>
          </el-form-item>
          <el-form-item label="Xác nhận mật khẩu mới" prop="confirm_password">
            <el-input
              v-model="model.confirm_password"
              type="password"
              show-password
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button :loading="loading" type="primary" native-type="submit">
              Login
            </el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChangePassword',
  data() {
    const validateConfirmPassword = (rule, value, callback) => {
      if (value !== this.model.new_password) {
        callback(new Error('Xác nhận mật khẩu mới không đúng'))
      } else {
        callback()
      }
    }
    return {
      model: {
        old_password: '',
        new_password: '',
        confirm_password: ''
      },
      rules: {
        old_password: [
          {
            required: true,
            message: 'Vui lòng nhập mật khẩu hiện tại',
            trigger: ['change', 'blur']
          },
          {
            min: 6,
            message: 'Mật khẩu có ít nhất 6 ký tự',
            trigger: ['change', 'blur']
          }
        ],
        new_password: [
          {
            required: true,
            message: 'Vui lòng nhập mật khẩu mới',
            trigger: ['change', 'blur']
          },
          {
            min: 6,
            message: 'Mật khẩu có ít nhất 6 ký tự',
            trigger: ['change', 'blur']
          }
        ],
        confirm_password: [
          {
            required: true,
            message: 'Vui lòng xác nhận lại mật khẩu mới',
            trigger: ['change', 'blur']
          },
          {
            min: 6,
            message: 'Mật khẩu có ít nhất 6 ký tự',
            trigger: ['change', 'blur']
          },
          { validator: validateConfirmPassword, trigger: ['change', 'blur'] }
        ]
      },
      loading: false
    }
  },
  methods: {
    async onChangePassword() {
      const validate = await this.$refs.form.validate()
      if (!validate) return
      try {
        this.loading = true
        await this.$axios.$post('/cms/setting/password/change', this.model)
        this.$success('Đổi mật khẩu thành công')
      } catch (e) {
        const message = e.message || 'Đổi mật khẩu không thành công.'
        this.$error(message)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped></style>
