<template>
  <el-popover placement="bottom" width="200" trigger="click">
    <el-badge slot="reference" class="notification-badge" :value="3">
      <el-button icon="el-icon-message-solid" size="medium" circle></el-button>
    </el-badge>
    <div>
      notification
    </div>
  </el-popover>
</template>

<script>
export default {
  name: 'HeaderNotification'
}
</script>

<style scoped></style>
