<template>
  <div class="input-search">
    <el-input
      v-model="model.keyword"
      prefix-icon="el-icon-search"
      placeholder="Tìm kiếm"
    ></el-input>
  </div>
</template>

<script>
export default {
  name: 'InputSearch',
  data() {
    return {
      model: {
        keyword: ''
      }
    }
  }
}
</script>

<style scoped>
.input-search {
  width: 100%;
  max-width: 600px;
}
</style>
