<template>
  <el-container class="max-h-screen" :class="{ 'is-collapse': isCollapse }">
    <the-side-bar></the-side-bar>
    <el-container
      :style="{ marginLeft: isCollapse ? '64px' : '240px' }"
      class="is-vertical h-screen"
      style="transition: all .3s"
    >
      <the-header :is-collapse="isCollapse"></the-header>
      <el-main style="margin-top: 56px">
        <nuxt keep-alive :keep-alive-props="{ max: 5 }" />
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import TheHeader from '~/components/layout/TheHeader'
import TheSideBar from '~/components/layout/TheSideBar'

export default {
  name: 'LayoutDefault',
  components: {
    TheHeader,
    TheSideBar
  },
  computed: {
    isCollapse() {
      return this.$store.state.isCollapse
    }
  }
}
</script>
