<template>
  <div>{{ error }}</div>
</template>

<script>
export default {
  name: 'LayoutError',
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    statusCode() {
      return this.error?.statusCode || 500
    },
    message() {
      return this.error?.message || 'Error'
    }
  }
}
</script>

<style scoped></style>
