<template>
  <div>
    <sv-page-header content="Quản lý vai trò"></sv-page-header>
    <el-card>
      <div class="table table-hover">
        <table>
          <thead>
            <tr>
              <th>STT</th>
              <th>Name</th>
              <th>Permission</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(role, index) in listRole" :key="'role' + index">
              <td>{{ index + 1 }}</td>
              <td>{{ role.name }}</td>
              <td>
                <form-permission :role="role" @fetch="$fetch"></form-permission>
              </td>
              <td>
                <div class="flex justify-start space-x-2">
                  <button-edit :role="role" @fetch="$fetch"></button-edit>
                  <button-delete :role="role" @fetch="$fetch"></button-delete>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </el-card>
    <button-create @fetch="$fetch"></button-create>
  </div>
</template>

<script>
import ButtonCreate from '~/components/pages/roles/ButtonCreate'
import ButtonEdit from '~/components/pages/roles/ButtonEdit'
import ButtonDelete from '~/components/pages/roles/ButtonDelete'
import FormPermission from '~/components/pages/roles/FormPermission'
export default {
  name: 'Roles',
  meta: { permission: 'roles.list' },
  components: {
    ButtonCreate,
    ButtonEdit,
    ButtonDelete,
    FormPermission
  },
  async fetch() {
    try {
      if (this.listRole.length) return
      await this.$store.dispatch('roles/getListRole')
    } catch (e) {
      this.$nuxt.error(e)
    }
  },
  computed: {
    listRole() {
      return this.$store.state.roles.listRole || []
    }
  }
}
</script>
