<template>
  <div>
    <sv-page-header content="Quản lý users"></sv-page-header>
    <el-card>
      <div class="space-y-4">
        <form-search
          v-model="model"
          @fetch="$fetch"
          :disabled="$fetchState.pending"
        ></form-search>
        <div class="table table-hover">
          <table>
            <thead>
              <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in listUser" :key="'user' + index">
                <td>{{ index + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role.name }}</td>
                <td>
                  <div class="flex justify-start space-x-2">
                    <button-edit :user="user" @fetch="$fetch"></button-edit>
                    <button-delete :user="user" @fetch="$fetch"></button-delete>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </el-card>
    <button-create @fetch="$fetch"></button-create>
  </div>
</template>

<script>
import FormSearch from '~/components/pages/users/FormSearch'
import ButtonCreate from '~/components/pages/users/ButtonCreate'
import ButtonEdit from '~/components/pages/users/ButtonEdit'
import ButtonDelete from '~/components/pages/users/ButtonDelete'
export default {
  name: 'Users',
  meta: {
    permission: 'users.list'
  },
  components: {
    FormSearch,
    ButtonCreate,
    ButtonEdit,
    ButtonDelete
  },
  async fetch() {
    try {
      const { data } = await this.$store.dispatch(
        'users/getListUser',
        this.model
      )
      this.listUser = data
    } catch (e) {
      this.$nuxt.error(e)
    }
  },
  fetchOnServer: false,
  data() {
    return {
      listUser: [],
      model: {
        search: '',
        filter: {
          role_ids: []
        }
      }
    }
  }
}
</script>
