<template>
  <el-card>
    <div slot="header" class="text-xl">Keywords</div>
    <div>
      <el-select
        v-model="keywords"
        multiple
        filterable
        allow-create
        default-first-option
        placeholder="Vui lòng nhập keywords"
      >
        <el-option
          v-for="(keyword, key) in listKeyword"
          :key="key"
          :label="keyword"
          :value="keyword"
        ></el-option>
      </el-select>
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'FormKeywords',
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    keywords: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    },
    listKeyword() {
      return []
    }
  }
}
</script>

<style scoped></style>
