<template>
  <el-card>
    <div slot="header" class="text-xl">Build / Đề xuất build</div>
    <div>
      <div>
        <el-radio v-model="model.build" label="1">Top story</el-radio>
      </div>
      <div>
        <el-radio v-model="model.build" label="2">Đáng chú ý</el-radio>
      </div>
      <div>
        <el-radio v-model="model.build" label="3">Trending</el-radio>
      </div>
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'FormBuild',
  data() {
    return {
      model: {
        build: ''
      }
    }
  }
}
</script>

<style scoped></style>
