<template>
  <el-card>
    <div slot="header" class="text-xl">Hẹn giờ</div>
    <div>
      <el-date-picker
        v-model="publishedAt"
        type="datetime"
        format="HH:mm:ss dd-MM-yyyy"
        value-format="HH:mm:ss dd-MM-yyyy"
        :default-value="new Date()"
        placeholder="Chọn ngày giờ"
        class="w-full"
      ></el-date-picker>
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'FormTimer',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    publishedAt: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
