<template>
  <el-card>
    <div slot="header" class="text-xl">Priority</div>
    <div>
      <el-radio v-model="priority" :label="1">Low</el-radio>
      <el-radio v-model="priority" :label="2">Normal</el-radio>
      <el-radio v-model="priority" :label="3">High</el-radio>
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'FormPriority',
  props: {
    value: {
      type: Number,
      default: 1
    }
  },
  computed: {
    priority: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
