<template>
  <el-form-item label="Tiêu đề">
    <el-input
      v-model="title"
      type="textarea"
      placeholder="Vui lòng nhập tiêu đề bài viết"
    ></el-input>
  </el-form-item>
</template>

<script>
export default {
  name: 'FormTitle',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    title: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
