<template>
  <div>
    <div :class="{ 'is-error': isError }" class="croppa croppa-pc">
      <croppa
        v-model="croppa.pc"
        :width="600"
        :height="200"
        :placeholder="placeholder"
        :placeholder-font-size="12"
        :file-size-limit="300 * 1024"
        :prevent-white-space="true"
        :show-remove-button="true"
        remove-button-color="black"
        :remove-button-size="20"
        :quality="2"
        accept=".jpeg,.jpg,.png"
        @file-choose="handleFileChoose"
        @file-size-exceed="handleFileSizeExceed"
        @file-type-mismatch="handleFileTypeMismatch"
        @new-image-drawn="handleFileValid"
        @image-remove="handleFileRemove"
      ></croppa>
    </div>
    <div class="croppa mt-4">
      <croppa
        v-model="croppa.mobile"
        :width="400"
        :height="200"
        placeholder="Ảnh cover cho mobile"
        :placeholder-font-size="12"
        :prevent-white-space="true"
        :show-remove-button="false"
        :quality="1"
        :file-size-limit="300 * 1024"
        accept=".jpeg,.jpg,.png"
        :disable-click-to-choose="true"
        :disable-drag-and-drop="true"
        :disable-rotation="true"
        ref="croppaMobile"
      ></croppa>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormCover',
  data() {
    return {
      croppa: {
        pc: {},
        mobile: {}
      },
      value: null,
      isError: null
    }
  },
  computed: {
    placeholder() {
      const placeholderDefault =
        'Vui lòng upload ảnh dưới 300kb. Hãy nén ảnh tại compressor.io hoặc jpeg.io trước khi upload.'
      return this.isError || placeholderDefault
    }
  },
  methods: {
    async getBlob() {
      if (!this.croppa.pc.hasImage()) return []
      const blobPC = await this.croppa.pc.promisedBlob('image/jpeg')
      const blobMobile = await this.croppa.mobile.promisedBlob('image/jpeg')
      return [blobPC, blobMobile]
    },
    handleFileChoose(file) {
      this.$refs.croppaMobile._onNewFileIn(file)
    },
    handleFileSizeExceed() {
      this.isError =
        'Dung lượng file vượt quá 300kb, vui lòng nén ảnh trước khi upload.'
    },
    handleFileTypeMismatch() {
      this.isError =
        'Định dạnh file không chính xác. Vui lòng chọn file ảnh jpg, jpeg hoặc png.'
    },
    handleFileValid() {
      this.isError = null
    },
    handleFileRemove() {
      this.croppa.mobile.remove()
    }
  }
}
</script>

<style lang="scss">
.croppa {
  display: flex;
  justify-content: center;
  border: 0.5px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.5s;
}
.croppa-pc {
  &.is-error {
    border-color: rgba(#f5222d, 0.7);
    background: rgba(#f5222d, 0.1);

    .croppa-container {
      background: transparent;
    }
  }
}
.croppa-pc:hover {
  border-color: #27cebe;

  &.is-error {
    border-color: rgba(#f5222d, 1);
  }
}
.croppa .croppa-container {
  background-color: #fff;
}
</style>
