<template>
  <el-card>
    <div slot="header" class="flex justify-start items-center">
      <span class="text-xl">Set on</span>
      <el-divider direction="vertical"></el-divider>
    </div>
    <div>
      <el-select v-model="setOn" filterable placeholder="Vui lòng chọn set-on">
        <el-option
          v-for="folder in folders"
          :key="folder.id"
          :label="folder.name"
          :value="folder.id"
        ></el-option>
      </el-select>
      <div class="mt-4 flex justify-start flex-wrap">
        <div
          v-for="setOn in setOnRecently"
          :key="'setOn' + setOn.id"
          class="mt-2 mr-2"
        >
          <el-button size="mini">
            {{ setOn.name }}
          </el-button>
        </div>
      </div>
    </div>
  </el-card>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'FormSetOn',
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    listOn: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    ...mapGetters({
      setOnRecently: 'post/setOnRecently'
    }),
    folders() {
      const folders = this.$store.getters['post/folders'] || []
      return folders.filter(folder => !this.listOn.includes(folder.id))
    },
    setOn: {
      get() {
        return this.value
      },
      set(value) {
        return this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
