<template>
  <el-form-item label="Miêu tả">
    <el-input
      v-model="description"
      type="textarea"
      :autosize="{ minRows: 4, maxRows: 6 }"
      placeholder="Vui lòng nhập miêu tả bài viết"
    ></el-input>
  </el-form-item>
</template>

<script>
export default {
  name: 'FormDescription',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    description: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
