<template>
  <el-card>
    <div slot="header" class="flex justify-start items-center">
      <span class="text-xl">List on</span>
      <el-divider direction="vertical"></el-divider>
    </div>
    <div>
      <el-select
        v-model="listOn"
        multiple
        filterable
        placeholder="Vui lòng chọn list-on"
      >
        <el-option
          v-for="folder in folders"
          :key="folder.id"
          :label="folder.name"
          :value="folder.id"
        ></el-option>
      </el-select>
      <div class="mt-4 flex justify-start flex-wrap">
        <div
          v-for="listOn in listOnRecently"
          :key="'listOn' + listOn.id"
          class="mt-2 mr-2"
        >
          <el-button size="mini">
            {{ listOn.name }}
          </el-button>
        </div>
      </div>
    </div>
  </el-card>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'FormListOn',
  props: {
    value: {
      type: Array,
      default: () => []
    },
    setOn: {
      type: [Number, String],
      default: ''
    }
  },
  computed: {
    ...mapGetters({
      listOnRecently: 'post/listOnRecently'
    }),
    folders() {
      const folders = this.$store.getters['post/folders'] || []
      return folders.filter(folder => folder.id !== this.setOn)
    },
    listOn: {
      get() {
        return this.value
      },
      set(value) {
        return this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
