<template>
  <el-card>
    <div slot="header" class="text-xl">Tags</div>
    <div>
      <el-select
        v-model="tags"
        multiple
        filterable
        allow-create
        default-first-option
        placeholder="Vui lòng chọn list-on"
      >
        <el-option
          v-for="tag in listTag"
          :key="tag.id"
          :label="tag.name"
          :value="tag.id"
        ></el-option>
      </el-select>
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'FormTags',
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  async fetch() {
    const { data } = await this.$store.dispatch('tags/getTags')
    this.listTag = data
  },
  data() {
    return {
      listTag: []
    }
  },
  computed: {
    tags: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
