<template>
  <div>
    <el-tooltip
      v-if="$isPermission('users.edit')"
      content="Sửa người dùng"
      placement="top"
    >
      <el-button
        icon="el-icon-edit"
        size="mini"
        type="success"
        circle
        @click="visible = true"
      ></el-button>
    </el-tooltip>
    <el-dialog
      :visible.sync="visible"
      title="Sửa người dùng"
      append-to-body
      width="50%"
    >
      <el-form
        ref="form"
        :model="model"
        label-position="left"
        label-width="200px"
        @submit.native.prevent="onEditUser"
      >
        <form-item-name v-model="model.name"></form-item-name>
        <form-item-email v-model="model.email"></form-item-email>
        <form-item-password v-model="model.password"></form-item-password>
        <form-item-role v-model="model.role_id"></form-item-role>
        <el-form-item>
          <el-button :loading="loading" type="primary" native-type="submit">
            Submit
          </el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import cloneDeep from 'lodash/cloneDeep'
import FormItemName from '~/components/pages/users/FormItemName'
import FormItemEmail from '~/components/pages/users/FormItemEmail'
import FormItemPassword from '~/components/pages/users/FormItemPassword'
import FormItemRole from '~/components/pages/users/FormItemRole'

export default {
  name: 'ButtonEdit',
  components: {
    FormItemName,
    FormItemEmail,
    FormItemPassword,
    FormItemRole
  },
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      visible: false,
      loading: false,
      model: {}
    }
  },
  mounted() {
    this.model = {
      id: this.user.id,
      name: this.user.name,
      email: this.user.email,
      password: '',
      role_id: this.user.role.id
    }
  },
  methods: {
    openDialog() {
      this.visible = true
    },
    async onEditUser() {
      const validate = await this.$refs.form.validate()
      if (!validate) return
      try {
        this.loading = true
        await this.$store.dispatch('users/editUser', this.model)
        this.$success('Sửa thông tin người dùng thành công')
        this.$emit('fetch')
        this.visible = false
      } catch (e) {
        const message = e.message || 'Có 1 lỗi khi sửa thông tin người dùng'
        this.$error(message)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped></style>
