<template>
  <el-tooltip
    v-if="$isPermission('users.delete')"
    content="Xóa người dùng"
    placement="top"
  >
    <el-button
      icon="el-icon-close"
      size="mini"
      type="danger"
      circle
      @click="onDeleteUser"
    ></el-button>
  </el-tooltip>
</template>

<script>
export default {
  name: 'ButtonDelete',
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  methods: {
    async onDeleteUser() {
      try {
        await this.confirmDelete()
        await this.$store.dispatch('users/deleteUser', this.user)
        this.$success('Xóa người dùng thành công')
        this.$emit('fetch')
      } catch (e) {
        if (e === 'cancel') return
        const message = e.message || 'Có 1 lỗi khi xóa người dùng̀'
        this.$error(message)
      }
    },
    async confirmDelete() {
      return await this.$confirm(
        'Bạn có chắc chắn xóa người dùng̀? Nếu xóa bạn sẽ không thể lấy lại được dữ liệu !!!',
        'Warning'
      )
    }
  }
}
</script>

<style scoped></style>
