<template>
  <div v-if="$isPermission('users.add')">
    <el-tooltip content="Thêm người dùng" placement="top">
      <sv-button-fixed @click="openDialog" :visible="visible"></sv-button-fixed>
    </el-tooltip>
    <el-dialog
      :visible.sync="visible"
      title="Tạo người dùng"
      append-to-body
      width="50%"
      @close="formatDefault"
    >
      <el-form
        ref="form"
        :model="model"
        label-position="left"
        label-width="200px"
        @submit.native.prevent="onCreateUser"
      >
        <form-item-name v-model="model.name"></form-item-name>
        <form-item-email v-model="model.email"></form-item-email>
        <form-item-password v-model="model.password"></form-item-password>
        <form-item-role v-model="model.role_id"></form-item-role>
        <el-form-item>
          <el-button :loading="loading" type="primary" native-type="submit">
            Submit
          </el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import FormItemName from '~/components/pages/users/FormItemName'
import FormItemEmail from '~/components/pages/users/FormItemEmail'
import FormItemPassword from '~/components/pages/users/FormItemPassword'
import FormItemRole from '~/components/pages/users/FormItemRole'
export default {
  name: 'ButtonCreate',
  components: {
    FormItemName,
    FormItemEmail,
    FormItemPassword,
    FormItemRole
  },
  data() {
    return {
      visible: false,
      loading: false,
      model: {
        name: '',
        email: '',
        password: '',
        role_id: ''
      }
    }
  },
  methods: {
    openDialog() {
      this.visible = true
    },
    async onCreateUser() {
      const validate = await this.$refs.form.validate()
      if (!validate) return
      try {
        this.loading = true
        await this.$store.dispatch('users/addUser', this.model)
        this.$success('Tạo người dùng thành công')
        this.$emit('fetch')
        this.visible = false
      } catch (e) {
        const message = e.message || 'Có 1 lỗi khi tạo người dùng'
        this.$error(message)
      } finally {
        this.loading = false
      }
    },
    formatDefault() {
      this.model = {
        name: '',
        email: '',
        password: '',
        role_id: ''
      }
      this.$refs.form.resetFields()
    }
  }
}
</script>

<style scoped></style>
