<template>
  <div class="flex justify-start space-x-4">
    <div class="w-1/4">
      <el-input
        v-model="search"
        :disabled="disabled"
        prefix-icon="el-icon-search"
        placeholder="Vui lòng nhập từ khóa"
      ></el-input>
    </div>
    <div class="w-1/4">
      <el-select v-model="roleId" multiple placeholder="Vui lòng chọn vai trò">
        <el-option
          v-for="(role, index) in listRole"
          :key="'role' + index"
          :label="role.name"
          :value="role.id"
          :disabled="disabled"
        ></el-option>
      </el-select>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormSearch',
  props: {
    value: {
      type: Object,
      default: () => {}
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    this.getListRole()
  },
  computed: {
    listRole() {
      return this.$store.state.roles.listRole || []
    },
    search: {
      get() {
        return this.value.search
      },
      set(value) {
        this.$emit('input', { ...this.value, search: value })
        clearTimeout(this.timeOut)
        this.timeOut = setTimeout(this.fetch, 800)
      }
    },
    roleId: {
      get() {
        return this.value.filter.role_ids || []
      },
      set(value) {
        this.$emit('input', { ...this.value, filter: { role_ids: value } })
        this.fetch()
      }
    }
  },
  methods: {
    fetch() {
      this.$emit('fetch')
    },
    async getListRole() {
      try {
        if (this.listRole.length) return
        await this.$store.dispatch('roles/getListRole')
      } catch (e) {
        this.$nuxt.error(e)
      }
    }
  }
}
</script>

<style scoped></style>
