<template>
  <el-form-item label="Email" prop="email" :rules="rules.email">
    <el-input v-model="email" type="text"></el-input>
  </el-form-item>
</template>

<script>
export default {
  name: 'FormItemEmail',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      rules: {
        email: [
          {
            required: true,
            message: 'Email là bắt buộc',
            trigger: ['change', 'blur']
          },
          {
            type: 'email',
            message: 'Email chưa đúng định dạng',
            trigger: ['change', 'blur']
          }
        ]
      }
    }
  },
  computed: {
    email: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
