<template>
  <el-form-item label="Mật khẩu" prop="password" :rules="rules.password">
    <el-input v-model="password" type="text"></el-input>
  </el-form-item>
</template>

<script>
export default {
  name: 'FormItemPassword',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      rules: {
        password: [
          {
            required: true,
            message: 'Mật khẩu là bắt buộc',
            trigger: ['change', 'blur']
          },
          {
            min: 6,
            message: 'Mật khẩu có ít nhất 6 ký tự',
            trigger: ['change', 'blur']
          }
        ]
      }
    }
  },
  computed: {
    password: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
