<template>
  <el-form-item label="Role" prop="role_id" :rules="rules.role">
    <el-select v-model="role" type="text">
      <el-option
        v-for="(role, index) in listRole"
        :key="'role' + index"
        :label="role.name"
        :value="role.id"
      ></el-option>
    </el-select>
  </el-form-item>
</template>

<script>
export default {
  name: 'FormItemRole',
  props: {
    value: {
      type: [String, Number],
      default: ''
    }
  },
  data() {
    return {
      rules: {
        role: [
          {
            required: true,
            message: 'Vai trò là bắt buộc',
            trigger: ['change', 'blur']
          }
        ]
      }
    }
  },
  computed: {
    listRole() {
      return this.$store.state.roles.listRole || []
    },
    role: {
      get() {
        return this.value
      },
      set(value) {
        if (value === '') return
        this.$emit('input', value)
      }
    }
  },
  mounted() {
    this.getListRole()
  },
  methods: {
    async getListRole() {
      try {
        if (this.listRole.length) return
        await this.$store.dispatch('roles/getListRole')
      } catch (e) {
        this.$nuxt.error(e)
      }
    }
  }
}
</script>

<style scoped></style>
